body{
    width: 100%;
    height:100%;
}
.mainContainer{
    display:flex;
    flex-direction:row ;
    
    
}

.leftBg{
    width: 35%;
    background-image: url("./img/coffee.jpg");
 
  


}

img[src*='creative']{
    width:35px;
    height:65px;
}
.logoContainer{
    position: absolute;
    top: 150px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(95, 96, 97, 0.5);
    
    
}
.logoText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    color: cornsilk;
}

.rightBg{
    height: 100%;
    width:65%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.upperRight{ height: 40%; 
    padding: 50px 60px 8px 60px;
    font-size: 16;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.middleRight{
    height: 40%;
    margin: 9px 0px 8px 0px;
    background-color: rgb(236, 236, 236);
    padding: 10px 30px 20px 30px;
    
}
form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 8px;
    padding:0 10px;
}
.info{
    font-size: 14px;
    display:flex;
    flex-direction: column;
}
input{
    border: 0.5px solid gray;
}

input:focus{
    outline:0.5px solid blueviolet;
    
}

.bottomRight{
    height: 20%;
    padding:10px 30px 20px 30px;
}

.accountBtn{
    background-color: rgb(77, 143, 77);
    text-align: center;
    color:white;
    font-size: 12px;
    padding:4px 9px ;
    border-radius: 5px;

}

a{
    text-decoration: none;
    color:rgb(77, 143, 77) ;
}